/* Entrega 3 Incluyendo Sass Prueba*/
/*Importar Variables*/
@import "variables";
@import "mixin";


/* Entrega 1 Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*dentro de body)*/
#body {
  font-family: "Nunito", sans-serif;
  background-color: $body_background;
}

#header {
  display: flex;
  border: 1px solid black;
  background-color: $header_background;
}
/*nesting*/
.navbar {
  width: 100%;
  border-color: black;
  a {
    color: $navbar_color;
  }
}

//   .navbar a {
//      color: $navbar_color;
//    }

.navbar__ul {
  display: flex;
  justify-content: space-evenly;
  background-color: gray;
  border: 1px solid red;
  text-align: justify;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}

.main__article {
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
}

h1 {
  color: $h1_color;
  background-color: $h1_background;
  text-align: center;
  font-size: 32px;
  padding: 1rem;
  margin: 0;
  transform:skew(-10deg);
}
.h2contacto {
  padding: 1rem;
  text-align: center;
}
h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;

  text-align: center;
}
/*nesting---transform-transicion*/
.button__testdrive {
  background-color: $button_testdrive;
  border: 0;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  color: white;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    color: red;
    background-color: white;
    transform: scale(1.1);
  }
}
.button_cuotas {
    @extend .button__testdrive;
    background-color: red;
}
.button__contac--section {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
 }
#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: end;
  align-items: center;

  border: 2px solid black;
}
.img-footer {
  width: 30px;
}
.fotter-map {
  width: auto;
  height: auto;
}

.fotter__section--h3 {
  text-align: center;
}

.fotter-map {
  justify-content: end;
}

/*mobile //////////////////////////////////////*/
@media screen and (max-width: 576px) {
  #body {
    min-width: 344px;
  }

  .navbar__ul {
    font-size: 14px;
    background-color: rgb(255, 0, 0);
  }

  #footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 1fr);
    justify-items: center;
    row-gap: 5px;
    min-height: 10vh;
  }
}

/* tablet ////////////////////////////////////*/
@media screen and (min-width: 577px) {
  .navbar__ul {
    font-size: 18px;
    background-color: rgb(255, 0, 0);
  }

  #footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 2px;
    min-height: 10vh;
  }
}

/* laptop */
@media screen and (min-width: 992px) {
  .navbar__ul {
    font-size: 22px;
    background-color: rgb(255, 0, 0);
  }

  #footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    row-gap: 5px;
    min-height: 10vh;
  }
}
